<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.twobuffers.wire.firebase_messaging"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <application>

        <service
            android:name=".WireFirebaseMessagingService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>
